.messages{
background-color: black;
color: greenyellow;
border: none;
resize: none;
box-sizing:border-box;
}
.head-bar{
    height: 75px;
    background-color:#ECECEC; 
    padding:20px;
}
.file-menu{
    float: left;
    padding: 0px;
    height: 550px;
    margin: 0px;
    text-align: center;
    
 
}
.file-menu-title{
    background-color: rgb(243, 241, 241);
    color: black;
    height:50px;
    width: 100%;
    text-align: center;
    padding:0px;
    
    float: left;
 
}
.main-container{
    width: 100%;
    position:relative;
    height: 550px;
}
.codeeditor{
    height: 550px;
    margin: 0px;
    float: left;
 
}
.footer{
    height:60px;
    background-color: #ECECEC;
    width:100%;
    text-align: center;
}
.console{
   
    background-color: black;
    height: 550px;
    float: left;
    color: greenyellow;

}